<!DOCTYPE html>
<html lang="en">

<head>
    <title>GebeSports About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
	 <!-- font-awesome icons -->
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <h1>
                    <a class="navbar-brand text-white" href="../Users/user">
                      GebeSports
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="../Users/user">首页
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="../Users/GoAbout">关于这里</a>
                        </li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="../Users/GoServices">服务</a>
                        </li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3">
							<a  class="nav-link" href="../Users/GoArticle">文章</a>
						</li>
                        <li class="nav-item  mr-3 mt-lg-0 mt-3" id="register">
                            <a id="UserName" class="nav-link" href="../Users/GoRegister">注册</a>
						</li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3" id="logout">
							<a  class="nav-link" href="../Users/Logout">注销</a>
						</li>
                    </ul>
                </div>
			</nav>
        </header>
        <!-- //header -->
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">关于 <span> 我们</span></h2>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="../images/g1.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<h4>提供你意想不到的服务</h4>
						<p>要求不多，给钱就好，不给也行，免费服务不是人能享受的</p>
						<p>燕子崖下，浐河水潺潺流淌，山谷树木郁郁葱葱，鸟翠蝶飞，吃酒抚琴，谈古论今，亭台把酒临风，谈笑间，妄说前世，前世我们相知，同朝为仕，攻城略地打天下，今生有缘相聚南山下，再续上世恩怨。一壶浊酒，一曲【酒狂】，酒渐酣，再续一曲【高山流水】，悠扬婉转琴声，把我混乱思绪带进更深处的终南山，
								<br>山中何所有，隐士是否在，采菊东篱下，是否有竹贤，小聚 吟诗篇。
								<br>靡靡中醉卧凉亭，喃喃自语，飘飘然，悠悠然，进入梦中终南太虚幻境 ，畅游空谷幽兰。</p>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

 <!-- stats -->
    <section class="agile_stats py-sm-5">
        <div class="container">
            <div class="py-lg-5 w3-abbottom">
                <div class="row py-5">
                    <div class="counter col-lg-3 col-6">
                        <i class="far fa-smile"></i>
                        <div class="timer count-title count-number mt-2 text-white" data-to="5100" data-speed="1500"></div>
                        <p class="count-text text-capitalize text-white">五星 好评</p>
                    </div>

                    <div class="counter col-lg-3 col-6">
                        <i class="fas fa-fighter-jet"></i>
                        <div class="timer count-title count-number mt-2 text-white" data-to="971" data-speed="1500"></div>
                        <p class="count-text text-capitalize text-white">举办成功的活动</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                        <i class="fas fa-users"></i>
                        <div class="timer count-title count-number mt-2 text-white" data-to="21" data-speed="1500"></div>
                        <p class="count-text text-capitalize text-white">达人 入驻</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                       <i class="fas fa-comments"></i>
                        <div class="timer count-title count-number mt-2 text-white" data-to="27" data-speed="1500"></div>
                        <p class="count-text text-capitalize text-white">户外交流会 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
<!-- team -->
	<div class="team py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h3 class="heading-agileinfo text-center pb-4">我们的 <span> 领队</span></h3>
            </div>
			<div class="row team-bottom">
				<div class="col-sm-4 team-grid">
					<img src="../images/t1.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>大卫</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fab fa-weibo f1"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-weixin f2"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-qq f3"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 team-grid mt-sm-0 mt-3">
					<img src="../images/t2.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>艾伦</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fab fa-weibo f1"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-weixin f2"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-qq f3"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 team-grid  mt-sm-0 mt-3">
					<img src="../images/t3.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>朱莉</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fab fa-weibo f1"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-weixin f2"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-qq f3"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 team-grid">
						<img src="../images/t1.jpg" class="img-fluid img-thumbnail" alt="">
						<div class="caption">
							<div class="team-text">
								<h4>大卫</h4>
							</div>
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-weibo f1"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-weixin f2"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-qq f3"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 team-grid mt-sm-0 mt-3">
						<img src="../images/t2.jpg" class="img-fluid img-thumbnail" alt="">
						<div class="caption">
							<div class="team-text">
								<h4>艾伦</h4>
							</div>
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-weibo f1"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-weixin f2"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-qq f3"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 team-grid  mt-sm-0 mt-3">
						<img src="../images/t3.jpg" class="img-fluid img-thumbnail" alt="">
						<div class="caption">
							<div class="team-text">
								<h4>朱莉</h4>
							</div>
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-weibo f1"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-weixin f2"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-qq f3"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!-- //team -->
<!--footer-->
<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-md-4 footer-grid">
					<div class="footer-title">
						<h3>关于 我们</h3>
					</div>
					<div class="footer-text">
						<p>团队只有一人，别看了，看不出花来的</p>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-title">
						<h3>联系我们</h3>
					</div>
					<div class="contact-info">
					<h4>Location :</h4>
					<p>USA海军陆战队预备役也不认识的地址</p>
					<div class="phone">
						<h4>联系方式 :</h4>
						<p>Phone : +0773 2323232323</p>
						<p>Email : <a href="mailto:info@example.com">shuoleniyebuzhidao@example.com</a></p>
					</div>
				</div>
				</div>
                <div class="col-md-4 footer-grid">
                    <div class="footer-title">
                        <h3>最新活动摄影</h3>
                    </div>
                    <div class="footer-list">
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g1.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g2.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g3.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g4.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g5.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g6.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g7.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g9.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g8.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
				
			</div>
		</div>
	</footer>
<!-- //footer -->

<!-- js -->
	<script src="../js/jquery-2.2.3.min.js"></script>
	<script src="../js/jquery.cookie.js"></script>
<!-- //js -->
	<script src="../js/counter.js"></script>
    <!-- //stats -->
    <!-- start-smooth-scrolling -->
    <script src="../js/move-top.js"></script>
    <script src="../js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });

		$(window).load(function (){
			//取得cookie里的值，如果为空则不操作；若有值，则隐藏登录框
			var userName = $.cookie('userName');
			var userPassword = $.cookie('userPassword');
			if(userName != null && userPassword != null){
				$.ajax({
					url:'/Users/CheckLogin',
					data:{"Name":userName,"Password":userPassword},
					method:'POST',
					dataType:'text',
					error:function(){
						alert("无法连接服务器");
					},
					success:function(data){
						if(data == "LoginSuccess"){
							$('#UserName').attr('href','../Users/GoPerson'); 
							$("#UserName").text($.cookie('userName'));
						}else{
							$("#logout").hide();
						}
					}
				});
			}
		})

    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="../js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>