<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Pricing</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="../css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="#">Collective</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <!-- image logo --
        <div class="logo">
            <a href="index.html">
            <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
            </a>
        </div>
        <!-- //image logo -->

        <div class="logo-icon text-center">
            <a href="#" title="logo"><img src="../images/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/SuperAdmin/Toindex"><i class="fa fa-tachometer"></i><span>管理 首页</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>审核<i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="../SuperAdmin/LeaderApply">领队 申请</a> </li>
                        <li><a href="../SuperAdmin/ActivityApply">活动 审核</a> </li>
                        <li><a href="../SuperAdmin/ArticleApply">文章 审核</a></li>
                    </ul>
                </li>
                <li><a href="../SuperAdmin/ActivityManage"><i class="fa fa-table"></i> <span>管理活动</span></a></li>
                <li><a href="../SuperAdmin/ArticleManage"><i class="fa fa-th"></i> <span>管理文章</span></a></li>
                <li><a href="../SuperAdmin/LeaderManage"><i class="fa fa-users"></i> <span>管理领队</span></a></li>
                <li><a href="../SuperAdmin/SAActivity"><i class="fa fa-plus-square"></i> <span>添加活动</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="user-dropdown-details d-flex">
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="../images/profileimg.jpg" class="rounded-circle" alt="" />
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">John Deo</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                  <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                  <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                  <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                  <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
<!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap" id="ActivityApply">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">活动申请</li>
      </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- card heading -->
    <div class="cards__heading">
      <h3>所有活动申请</h3>
    </div>
    <!-- //card heading -->

  </div>
  <!-- //content -->

</div>
<!-- main content end-->
</section>

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="../js/Chart.min.js"></script>
<script src="../js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="../js/bar.js"></script>
<script src="../js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="../js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<script>

    function GetIntro(ActId){
      $.getJSON("/Article/GetIntro?ActId=" + ActId, function(data){
          return data;
      })
    }

    function showApply(json){
      $.each(json, function(index, obj){
        $("#ActivityApply").append('<div class="card card_border p-lg-5 p-3 mb-4" id="'+ obj.activityid +'">\n' +
          '      <div class="card-body py-3 p-0">\n' +
          '        <div class="row">\n' +
          '          <div class="col-lg-6 pr-lg-4">\n' +
          '            <img src="../images/template1.jpg" alt="" class="img-fluid rounded" />\n' +
          '          </div>\n' +
          '          <div class="col-lg-6 align-self pl-lg-4 mt-lg-0 mt-4">\n' +
          '            <h3 class="block__title mb-lg-4">'+ obj.actname +'</h3>\n' +
          '            <p class="mb-3">活动简述 : '+ GetIntro(obj.activityid.toUpperCase()) +'</p>\n' +
          '              <ul class="block-list">\n' +
          '                <li>申请领队：'+ obj.originatorname +'</li>\n' +
          '                <li>地点：'+ obj.destination +'</li>\n' +
          '                <li>开始时间：'+ obj.starttime +'</li>\n' +
          '                <li>天数：'+ obj.actdays +'</li>\n' +
          '                <li>期望人数：'+ obj.expectplayer +'</li>\n' +
          '              </ul>\n' +
          '            <a href="../SuperAdmin/GoCheckActivity?ActId='+ obj.activityid +'" class="btn btn-style btn-primary mr-2">更多信息</a>\n' +
          '            <a href="../SuperAdmin/DisAgreeActApply?ActId='+ obj.activityid +'" class="btn btn-style border-btn">驳回</a>\n' +
          '          </div>\n' +
          '        </div>\n' +
          '      </div>\n' +
          '    </div>');
      })
    }

    $(window).load(function(){
      $.ajax({
        url:"/SuperAdmin/GetActApply",
        dataType:"json",
        method:"POST",
        error:function(){
            alert("连接不到服务器");
        },
        success: function(json){
            showApply(json);
        }
      })      
    })

</script>


</body>

</html>