<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Pricing</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="../css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="#">Collective</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <!-- image logo --
        <div class="logo">
            <a href="index.html">
            <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
            </a>
        </div>
        <!-- //image logo -->

        <div class="logo-icon text-center">
            <a href="#" title="logo"><img src="../images/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/GeneralAdmin/Toindex"><i class="fa fa-tachometer"></i><span>管理 首页</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>审核<i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="../GeneralAdmin/LeaderApply">领队 申请</a> </li>
                        <li><a href="../GeneralAdmin/ActivityApply">活动 审核</a> </li>
                        <li><a href="../GeneralAdmin/ArticleApply">文章 审核</a></li>
                    </ul>
                </li>
                <li><a href="../GeneralAdmin/ActivityManage"><i class="fa fa-table"></i> <span>管理活动</span></a></li>
                <li><a href="../GeneralAdmin/ArticleManage"><i class="fa fa-th"></i> <span>管理文章</span></a></li>
                <li><a href="../GeneralAdmin/LeaderManage"><i class="fa fa-users"></i> <span>管理领队</span></a></li>
                <li><a href="../GeneralAdmin/GAActivity"><i class="fa fa-plus-square"></i> <span>添加活动</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="user-dropdown-details d-flex">
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="../images/profileimg.jpg" class="rounded-circle" alt="" />
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">John Deo</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                  <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                  <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                  <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                  <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
<!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">处理文章审核</li>
      </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- pricing -->
    <section class="pricing">
      <div class="card card_border mb-5">
        <div class="cards__heading">
          <h3>所有 文章 申请</h3>
        </div>
        <div class="card-body">
          <!-- pricing version 1 -->

          <!--//BLOCK ROW END-->

          <section class="w3l-pricing1">
            <div class="row px-2" id="ArticleApply">
              
            </div>
        </div>
      </div>
    </section>

    <!--BLOCK ROW START-->

    <!-- //pricing version 1 -->

    </section>
    <!-- //pricing -->

  </div>
  <!-- //content -->

</div>
<!-- main content end-->
</section>
<!--footer section start-->
<footer class="dashboard">
  <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="../js/Chart.min.js"></script>
<script src="../js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="../js/bar.js"></script>
<script src="../js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>

<script>

    function showApply(json){
        // $.each(json, function(index, obj){
            $("#ArticleApply").append('' +
                '                <div class="col-md-4 px-2">\n' +
                '                  <div class="mb-4 price-card price-card1 p-lg-4 p-md-3 p-4 recomemded-price">\n' +
                '                    <div class="card-header p-0 card-heading">\n' +
                '                      <h4 class="mb-4">Article Name</h4>\n' +
                '                    </div>\n' +
                '                    <div class="card-body p-0">\n' +
                '                      <p>文章简介：There are many variations of passages of Lorem Ipsum available.\n' +
                '                          There are many variations of passages of Lorem Ipsum available.\n' +
                '                          There are many variations of passages of Lorem Ipsum available.\n' +
                '                      </p>\n' +
                '                      <ul class="list-unstyled list-pricing mt-3 mb-4">\n' +
                '                        <li>用户文章个数</li>\n' +
                '                        <li>用户电话联系方式</li>\n' +
                '                        <li>用户邮箱联系方式</li>\n' +
                '                      </ul>\n' +
                '                      <div class="mt-4">\n' +
                '                          <a href="../GeneralAdmin/GoCheckArticle" class="btn btn-lg btn-primary btn-style">更多信息</a>\n' +
                '                        <a href="signup.html" class="btn btn-lg btn-outline-primary btn-style border-btn">驳回</a>\n' +
                '                      </div>\n' +
                '                    </div>\n' +
                '                  </div>\n' +
                '                </div>')
        // })
    }

$(window).load(function(){
    // $.ajax({
    //     url:"/GeneralAdmin/GetAdminApply",
    //     dataType:"json",
    //     method:"POST",
    //     error:function(){
    //         alert("连接不到服务器");
    //     },
    //     success: function(json){
    //         showApply(json);
    //     }
    // })
    showApply("json");
})

</script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="../js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>


</body>

</html>