<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Pricing</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="../css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="index.html">Collective</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <!-- image logo --
        <div class="logo">
            <a href="index.html">
            <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
            </a>
        </div>
        <!-- //image logo -->

        <div class="logo-icon text-center">
            <a href="#" title="logo"><img src="../images/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/GeneralAdmin/Toindex"><i class="fa fa-tachometer"></i><span>管理 首页</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>审核<i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="../GeneralAdmin/LeaderApply">领队 申请</a> </li>
                        <li><a href="../GeneralAdmin/ActivityApply">活动 审核</a> </li>
                        <li><a href="../GeneralAdmin/ArticleApply">文章 审核</a></li>
                    </ul>
                </li>
                <li><a href="../GeneralAdmin/ActivityManage"><i class="fa fa-table"></i> <span>管理活动</span></a></li>
                <li><a href="../GeneralAdmin/ArticleManage"><i class="fa fa-th"></i> <span>管理文章</span></a></li>
                <li><a href="../GeneralAdmin/LeaderManage"><i class="fa fa-users"></i> <span>管理领队</span></a></li>
                <li><a href="../GeneralAdmin/GAActivity"><i class="fa fa-plus-square"></i> <span>添加活动</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="user-dropdown-details d-flex">
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="../images/profileimg.jpg" class="rounded-circle" alt="" />
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">John Deo</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                  <li> <a href="#"><i class="lnr lnr-users"></i>1k Followers</a> </li>
                  <li> <a href="#"><i class="lnr lnr-cog"></i>Setting</a> </li>
                  <li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>
                  <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
<!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">活动 处理</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">

            <!-- forms 2 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3 id="ActName">活动名称<span>/</span><span id="OriginatorName">活动申请领队</span></h3>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4" class="input__label">领队邮箱</label>
                                <input type="email" class="form-control input-style" id="LeaderEmail">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label">领队电话</label>
                                <input type="text" class="form-control input-style" id="LeaderPhone">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label" style="color: red">目的地</label>
                                <input type="text" class="form-control input-style" id="Destination" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label">出发地</label>
                                <input type="text" class="form-control input-style" id="DepartPlace" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label" style="color: red">开始时间</label>
                                <input type="text" class="form-control input-style" id="StartTime" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label" style="color: red">活动天数</label>
                                <input type="text" class="form-control input-style" id="ActDays" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label">主要交通方式</label>
                                <input type="text" class="form-control input-style" id="Vehicle" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="input__label">期望参与人数</label>
                                <input type="text" class="form-control input-style" id="ExpectPlayer" readonly>
                            </div>
                        </div>

                        <div id="Img" class="form-group">
                            <label for="inputAddress2" class="input__label">展示图片</label>
                            <div id="ImgShow">
                                <img class="pic" src="../images/bg1.jpg" alt="">
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label for="inputAddress2" class="input__label" style="color: red">活动描述</label>
                            <div class="Des" id="Description">
                                世界上很少地方会像尼泊尔一样，<br/>
                                <br/>
                                为了节庆花费那样多心血准备。<br/>
                                <br/>
                                这里受神灵的影响极大，整年庆典频繁。<br/>
                                <br/>
                                尼泊尔人几乎每年花三分之一的时间来庆祝。<br/>
                                <br/>
                                所以在一年中任何的时间来到尼泊尔，<br/>
                                <br/>
                                只要去对地方，<br/>
                                <br/>
                                您几乎都可以碰到大大小小的有趣的节日。<br/>
                                <br/>
                                但是！如果你问我们，尼泊尔一年中最最最好玩的节日是哪个？我们会毫不犹豫的告诉你<br/>
                                <br/>
                                Holi ！洒红节！<br/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress2" class="input__label" style="color: red">装备描述</label>
                            <div class="Des" id="OutfitDes">
                                世界上很少地方会像尼泊尔一样，<br/>
                                <br/>
                                为了节庆花费那样多心血准备。<br/>
                                <br/>
                                这里受神灵的影响极大，整年庆典频繁。<br/>
                                <br/>
                                尼泊尔人几乎每年花三分之一的时间来庆祝。<br/>
                                <br/>
                                所以在一年中任何的时间来到尼泊尔，<br/>
                                <br/>
                                只要去对地方，<br/>
                                <br/>
                                您几乎都可以碰到大大小小的有趣的节日。<br/>
                                <br/>
                                但是！如果你问我们，尼泊尔一年中最最最好玩的节日是哪个？我们会毫不犹豫的告诉你<br/>
                                <br/>
                                Holi ！洒红节！<br/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress2" class="input__label" style="color: red">行程描述</label>
                            <div class="Des" id="TripDes">
                                世界上很少地方会像尼泊尔一样，<br/>
                                <br/>
                                为了节庆花费那样多心血准备。<br/>
                                <br/>
                                这里受神灵的影响极大，整年庆典频繁。<br/>
                                <br/>
                                尼泊尔人几乎每年花三分之一的时间来庆祝。<br/>
                                <br/>
                                所以在一年中任何的时间来到尼泊尔，<br/>
                                <br/>
                                只要去对地方，<br/>
                                <br/>
                                您几乎都可以碰到大大小小的有趣的节日。<br/>
                                <br/>
                                但是！如果你问我们，尼泊尔一年中最最最好玩的节日是哪个？我们会毫不犹豫的告诉你<br/>
                                <br/>
                                Holi ！洒红节！<br/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress2" class="input__label" style="color: red">注意事项</label>
                            <div class="Des" id="NoticeDes">
                                世界上很少地方会像尼泊尔一样，<br/>
                                <br/>
                                为了节庆花费那样多心血准备。<br/>
                                <br/>
                                这里受神灵的影响极大，整年庆典频繁。<br/>
                                <br/>
                                尼泊尔人几乎每年花三分之一的时间来庆祝。<br/>
                                <br/>
                                所以在一年中任何的时间来到尼泊尔，<br/>
                                <br/>
                                只要去对地方，<br/>
                                <br/>
                                您几乎都可以碰到大大小小的有趣的节日。<br/>
                                <br/>
                                但是！如果你问我们，尼泊尔一年中最最最好玩的节日是哪个？我们会毫不犹豫的告诉你<br/>
                                <br/>
                                Holi ！洒红节！<br/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label input__label" style="color: red">决定 活动花费</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control input-style" id="ActSpend"
                                    placeholder="输入决定的金额" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label input__label" style="color: red">驳回意见</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-style" id="ReChange"
                                    placeholder="如决定驳回，请输入意见">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-style mt-4">提交 同意</button>
                        <button class="btn btn-primary btn-style mt-4">驳回</button>
                    </form>
                </div>
            </div>
            <!-- //forms 2 -->
        </section>
        <!-- //forms -->

    </div>
    <!-- //content -->

</div>
<!-- main content end-->
</section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="../js/Chart.min.js"></script>
<script src="../js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="../js/bar.js"></script>
<script src="../js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>

<!-- close script -->
<script>
  var closebtns = document.getElementsByClassName("close-grid");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="../js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>


<script>



</script>

</body>

</html>