<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>GEBESPORTS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
        <!-- header -->
        <header>
			<nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
				<h1>
					<a class="navbar-brand text-white" href="../Users/user">
						GebeSports
					</a>
				</h1>
				<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-lg-auto text-center">
						<li class="nav-item active  mr-3 mt-lg-0 mt-3">
							<a class="nav-link" href="../Users/user">首页
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3">
							<a class="nav-link" href="../Users/GoAbout">关于这里</a>
						</li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3">
							<a class="nav-link" href="../Users/GoService">服务</a>
						</li>
						<li class="nav-item  mr-3 mt-lg-0 mt-3">
							<a  class="nav-link" href="../Users/GoArticle">文章</a>
						</li>
						<li class="nav-item mr-3 mt-lg-0 mt-3">
							<a class="nav-link" href="../Users/user">立即登录</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
        <!-- //header -->
        
    </div>
	 <!-- //banner-text -->
	 	<!--/contact-->
	<section class="contact py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">加入 <span> 我们</span></h2>
            </div>
			<div class="inner-sec-w3layouts-agileinfo">
				<div class="contact-map">
					<img src="../images/1.jpg" class="map" style="border:0" allowfullscreen=""></img>
				</div>
				
				<div class="contact_grid_right mt-5">
					<h6>请输入以下信息完成注册</h6>
					<form action="/Users/Register" method="post">
						<div class="contact_left_grid">
							<input type="text" name="Name" placeholder="昵称" required="required">
							<input type="text" name="Realname" placeholder="真实名称（为了您能参加我们的活动，我们需要这个！）" required="required">
							<input type="text" name="Password" placeholder="密码" required="required">
							<input type="text" name="Checkpassword" placeholder="确认密码" required="required">
							<input type="text" name="Phone" placeholder="电话号码" required="required">
							<input type="email" name="Email" placeholder="Email" required="required">
							<input type="button" value="发送邮箱验证码" id="sendMailCode">
							<input type="text" name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入验证码...';}" required="required" placeholder="邮箱验证码">
							<input type="submit" value="提交">
							<input type="reset" value="重置">
							<div class="clearfix"> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--//contact-->

<!--footer-->
<footer>
	<div class="container py-md-4 mt-md-3">
		<div class="row footer-top-w3layouts-agile py-5">
			<div class="col-md-4 footer-grid">
				<div class="footer-title">
					<h3>关于 我们</h3>
				</div>
				<div class="footer-text">
					<p>团队只有一人，别看了，看不出花来的</p>
				</div>
			</div>
			<div class="col-md-4 footer-grid">
				<div class="footer-title">
					<h3>联系我们</h3>
				</div>
				<div class="contact-info">
				<h4>Location :</h4>
				<p>USA海军陆战队预备役也不认识的地址</p>
				<div class="phone">
					<h4>联系方式 :</h4>
					<p>Phone : +0773 2323232323</p>
					<p>Email : <a href="../mailto:info@example.com">shuoleniyebuzhidao@example.com</a></p>
				</div>
			</div>
			</div>
			<div class="col-md-4 footer-grid">
				<div class="footer-title">
					<h3>最新活动摄影</h3>
				</div>
				<div class="footer-list">
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g1.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g2.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g3.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g4.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g5.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g6.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g7.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g9.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="flickr-grid">
						<a href="" data-toggle="modal" data-target="#myModal">
							<img src="../images/g8.jpg" class="img-fluid" alt=" ">
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			
		</div>
	</div>
</footer>

<!-- //footer -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Vagabond</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="agileits-w3layouts-info">
			<img src="../images/g6.jpg" class="img-fluid" alt="" />
			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal -->

<!-- js -->
    <script src="../js/jquery-2.2.3.min.js"></script>
<!-- //js -->
    <!-- start-smooth-scrolling -->
    <script src="../js/move-top.js"></script>
    <script src="../js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="../js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>