<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ShowAct</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
            <!-- header -->
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                    <h1>
                        <a class="navbar-brand text-white" href="../Users/user">
                          GebeSports
                        </a>
                    </h1>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="../Users/user">首页
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item  mr-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="../Users/GoAbout">关于这里</a>
                            </li>
                            <li class="nav-item  mr-3 mt-lg-0 mt-3">
                                <a class="nav-link" href="../Users/GoServices">服务</a>
                            </li>
                            <li class="nav-item  mr-3 mt-lg-0 mt-3">
                                <a  class="nav-link" href="../Users/GoArticle">文章</a>
                            </li>
                            <li class="nav-item  mr-3 mt-lg-0 mt-3" id="register">
                                <a id="UserName" class="nav-link" href="../Users/user">登录/注册</a>
                            </li>
                            <li class="nav-item  mr-3 mt-lg-0 mt-3" id="logout">
                                <a class="nav-link" href="../Users/Logout">注销</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- //header -->
        </div>
         <!-- //banner-text -->

        <!-- //页面的遮罩层 -->
        <div id="cover"></div>
        <!-- //页面的弹出框 -->
        <div id="modal">
            <button id="closes">关闭</button>
            <div>
               <select name="ActState">
                    <option value="signing" >报名中</option>	
                    <option value="processing" selected>进行中</option>	//预选设置
                    <option value="over" >结束</option>	
                </select>
            </div>
        </div>

    <section class="wthree-row pt-sm-3  pb-sm-5 pb-3">
        <div class="container py-sm-5 py-3">
            <!-- section title -->
			<h2 class="heading-agileinfo">
                <span id="ActName">
                    Activity Name
                </span>
            </h2>
            <!-- //section title -->
            <div class="pb-5 mt-md-5 typo-wthree">
                <div class="col-md-6 test">
                    <h5 class="pt-4 pb-3">Activity Detail</h5>
                    <ul class="list-group testl">
                        <li class="list-group-item"><span class="te">活动目的地：</span></li>
                        <li class="list-group-item"><span class="te">活动出发地：</span></li>
                        <li class="list-group-item"><span class="te">活动天数：</span></li>
                        <li class="list-group-item"><span class="te">活动花费：</span></li>
                        <li class="list-group-item"><span class="te">活动开始时间（具体时间联系领队）：</span></li>
                        <li class="list-group-item"><span class="te">活动领队：</span></li>
                        <li class="list-group-item"><span class="te">报名人数上限：</span></li>
                        <li class="list-group-item"><span class="te">已报名人数：</span></li>
                    </ul>
                    <ul class="list-group testr">
                        <li class="list-group-item active" id="destination">Porta ac consectetur ac</li>
                        <li class="list-group-item" id="departplace">Porta ac consectetur ac</li>
                        <li class="list-group-item active" id="actdays">Porta ac consectetur ac</li>
                        <li class="list-group-item" id="actspend">Porta ac consectetur ac</li>
                        <li class="list-group-item active" id="starttime">Porta ac consectetur ac</li>
                        <li class="list-group-item"><i id="AddFollow" onclick="AddFollow()" class="fa fa-plus-circle" aria-hidden="true"></i><i id="DeleteFollow" onclick=""  class="fa fa-minus-circle fa-lg" aria-hidden="true"></i> <a href="JavaScript:void(0)" onclick="GoPerson()" id="originatorname">Porta ac consectetur ac</a></li>
                        <li class="list-group-item active" id="expectplayer">Porta ac consectetur ac</li>
                        <li class="list-group-item" id="enlistplayer">Porta ac consectetur ac</li>
                    </ul>
                    <ul class="list-group testr"><li class="list-group-item ooo"></li></ul>
                    <ul class="list-group testr">
                        <li class="list-group-item active">您的身份：<span class="IsAdmin" id="IsAdmin">活动领队</span></li>
                        <li class="list-group-item" id="ChangeActDetail">
                            <input class="Enlist" type="button" value="点击修改活动细则" onclick="ChangeActDetail()">
                        </li>
                        <li class="list-group-item" id="ReportActState">
                            <input class="Enlist" type="button" value="点击报告活动进程" onclick="ReportActState()">
                        </li>
                        <li class="list-group-item" id="ExportActUser">
                            <input class="Enlist" type="button" value="点击导出参加用户名单" onclick="ExportActUser()">
                        </li>
                        <li class="list-group-item" id="Login">
                            <input class="Enlist" type="button" value="登录" onclick="Login()">
                        </li>
                        <li class="list-group-item" id="Enlist">
                            <input id="CheckEnlist" class="Enlist" type="button" value="报名参加" onclick="Enlist()">
                        </li>
                    </ul>
                </div>
                <br><br><br>
                <h4 class="pt-4 pb-3">展示图片</h4>
                <div id="Img">
                </div>
                
                <h4 class="pt-4 pb-3">Description</h4>
                <div class="d-flex flex-row bg-flex" >
                    <div class="p-2 bg-flex mb-1 bg-flex-item" id="Description">
                        世界上很少地方会像尼泊尔一样，

                        为了节庆花费那样多心血准备。
                        
                        这里受神灵的影响极大，整年庆典频繁。
                        
                        尼泊尔人几乎每年花三分之一的时间来庆祝。
                        
                        所以在一年中任何的时间来到尼泊尔，
                        
                        只要去对地方，
                        
                        您几乎都可以碰到大大小小的有趣的节日。
                        
                        但是！如果你问我们，尼泊尔一年中最最最好玩的节日是哪个？我们会毫不犹豫的告诉你
                        
                        Holi ！洒红节！
                    </div>
                </div>

                <h4 class="pt-4 pb-3">Trip Description</h4>
                <div class="d-flex flex-row bg-flex">
                    <div class="p-2 bg-flex mb-1 bg-flex-item" id="TripDes">
                        徒步线路多处于4000米以上地区，徒步过程中早晚温差和海拔变化较大，紫外线强烈，保暖防寒措施一定要做足！<br>
                        1.加厚羽绒服，羽绒裤，冲锋衣裤、抓绒衣裤、快干保暖衣裤等；<br>
                        2.60L以上背包或驮袋，30L左右随身小背包，背包防雨罩；<br>
                        3.中帮或高帮徒步鞋，快干排汗袜和羊毛袜；<br>
                        4.登山杖、头巾、帽子、墨镜、护膝、防水袋、手套 、保温杯、水杯，护肤霜、防晒霜、唇膏、晒后修复霜，薄睡袋或隔离袋（主要卫生需要），雨衣、拖鞋等；<br>
                        5.头灯、相机、手机、三脚架，电池及充电器等；<br>
                        6.个人证件、常备药品、个人零食等    
                    </div>
                </div>

                <h4 class="pt-4 pb-3">Outfit Description</h4>
                <div class="d-flex flex-row bg-flex" >
                    <div class="p-2 bg-flex mb-1 bg-flex-item" id="OutfitDes">
                        徒步线路多处于4000米以上地区，徒步过程中早晚温差和海拔变化较大，紫外线强烈，保暖防寒措施一定要做足！<br>
                        1.加厚羽绒服，羽绒裤，冲锋衣裤、抓绒衣裤、快干保暖衣裤等；<br>
                        2.60L以上背包或驮袋，30L左右随身小背包，背包防雨罩；<br>
                        3.中帮或高帮徒步鞋，快干排汗袜和羊毛袜；<br>
                        4.登山杖、头巾、帽子、墨镜、护膝、防水袋、手套 、保温杯、水杯，护肤霜、防晒霜、唇膏、晒后修复霜，薄睡袋或隔离袋（主要卫生需要），雨衣、拖鞋等；<br>
                        5.头灯、相机、手机、三脚架，电池及充电器等；<br>
                        6.个人证件、常备药品、个人零食等    
                    </div>
                </div>

                <h4 class="pt-4 pb-3">Notice</h4>
                <div class="d-flex flex-row bg-flex" >
                    <div class="p-2 bg-flex mb-1 bg-flex-item" id="NoticeDes">
                            1.身体健康：无任何急慢性心脑血管疾病，出发前一个月需到二甲以上医院进行体检，项目包括：心、肺、血常规、肝等器官检查，各项指标正常无异才能参加活动；活动期间如遇任何方面不适时请立即告知领队；
                            2.有高原旅行经验：<br/>
                            3.团队精神：在活动过程中全体队员必须无条件听从领队及向导安排，任何队员不得擅自离队，不得单独行动或凭经验搞个人英雄主义，如有发生，领队有权终止其行程并安排其返回；
                            4.包容精神：尊重当地民族风俗和宗教习惯，爱护野生动植物，尊重领队、协作及其他工作人员；
                            5.环保要求：走过不留痕迹，自己的垃圾自己带走；<br/>
                            6.年龄籍贯：只接受年满18—60周岁，有完全民事能力的中国大陆人士；
                            7.装备合格：高海拔徒步过程中气候复杂多变，队员须对恶劣天气做好心理准备，同时做好全面的防水和防寒措施，对装备不符合要求的队员，领队有权劝退，准备阶段可提前与领队沟通；
                            8.必备证件：队员必须持有本人二代身份证和边防证件参与本次活动，边防证须注明“山南地区”；如需前往其他地区可在边防证上添加“林芝地区，阿里地区，日喀则地区”等；
                            如果本地办不了边防证怎么办？
                            （1）本人提前两天到达拉萨，办理证件需一个工作日，提供身份证原件和支付100元代办费。
                            （2）提前将身份证（原件）寄给我们，办好后第一时间给您寄回（拉萨到内地邮寄时间为5天）办理费用100元，邮寄费用20元，共计120元    
                    </div>
                </div>

                <br>
                <br>
                            <!-- chatting -->
                <div class="data-tables">
                    <div class="card-header chart-grid__header pl-0 pt-0">
                        <h4 class="pt-4 pb-3">评论区</h4>
                    </div>
                    <div class="messaging">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> 
                                <img src="../images/avatar5.jpg" alt="Alexander" class="img-fluid1"> 
                                <span class="FloatTest">UserName</span> <span class="time_date"> 10:05 AM | Mar 9</span>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        Coming along nicely, we've got a Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> 
                                <img src="../images/avatar5.jpg" alt="Alexander" class="img-fluid1"> 
                                <span class="FloatTest">UserName</span> <span class="time_date"> 10:05 AM | Mar 9</span>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        Coming along nicely, we've got a Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> 
                                <img src="../images/avatar5.jpg" alt="Alexander" class="img-fluid1"> 
                                <span class="FloatTest">UserName</span> <span class="time_date"> 10:05 AM | Mar 9</span>
                            </div>
                            <div style="clear:both;"></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        Coming along nicely, we've got a Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- //chatting -->
            </div>
        </div>
        <!-- //typo container -->

    </section>
    <!-- //typography -->

<!--footer-->
<footer>
        <div class="container py-md-4 mt-md-3">
            <div class="row footer-top-w3layouts-agile py-5">
                <div class="col-md-4 footer-grid">
                    <div class="footer-title">
                        <h3>关于 我们</h3>
                    </div>
                    <div class="footer-text">
                        <p>团队只有一人，别看了，看不出花来的</p>
                    </div>
                </div>
                <div class="col-md-4 footer-grid">
                    <div class="footer-title">
                        <h3>联系我们</h3>
                    </div>
                    <div class="contact-info">
                    <h5>Location :</h5>
                    <p>USA海军陆战队预备役也不认识的地址</p>
                    <div class="phone">
                        <h5>联系方式 :</h5>
                        <p>Phone : +0773 2323232323</p>
                        <p>Email : <a href="mailto:info@example.com">shuoleniyebuzhidao@example.com</a></p>
                    </div>
                </div>
                </div>
                <div class="col-md-4 footer-grid">
                    <div class="footer-title">
                        <h3>最新活动摄影</h3>
                    </div>
                    <div class="footer-list">
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g1.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g2.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g3.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g4.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g5.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g6.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g7.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g9.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <img src="../images/g8.jpg" class="img-fluid" alt=" ">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    
    <!-- //footer -->

<!-- js -->
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
<!-- //js -->

    <!-- start-smooth-scrolling -->
    <script src="../js/move-top.js"></script>
    <script src="../js/easing.js"></script>
    <script>
        $("#closes").click(function(){
            var cover = document.querySelector("#cover");
            var modal = document.querySelector("#modal");
            cover.style.display="none";   //隐藏遮罩层
            modal.style.display="none";   //隐藏弹出层
        });
    </script>

    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        var ActId;
        var ActSpend;
        var ActName;
        function ChangeActDetail(json){
            window.location.href = '../Activity/GoChangeAct?ActId=' + ActId;
        }

        function ReportActState(){
            var cover = document.querySelector("#cover");
            var modal = document.querySelector("#modal");
            cover.style.display="block";   //显示遮罩层
            modal.style.display="block";   //显示弹出层
        }

        function ExportActUser(){
            window.location.href = "../ActUser/exportExcel";
        }

        function Login(){
            window.location.href = '../Users/user';
        }

        function Enlist(){
            var formdata = new FormData();
            formdata.append("ActId", ActId);
            formdata.append("ActSpend", ActSpend);
            formdata.append("ActName", ActName);

            var request = new XMLHttpRequest();
            request.open("POST", "/Activity/Enlist");
            request.send(formdata);

            window.location.href = "../Activity/TestAlipay";
        }

        function CancelEnlist(){
            $.ajax({
                url:'/Activity/CancelEnlist',
                data:{"ActId":ActId},
                method:'POST',
                dataType:'text',
                error:function(){
                    alert("无法连接服务器");
                },
                success:function(data){
                    $("#CheckEnlist").val("报名参加")
                    $("#CheckEnlist").attr("onclick", "Enlist()");
                }
            });
        }


        function timestampToTime(timestamp) {
            var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes() + ':';    
            s = date.getSeconds();
            return Y+M+D;
        }

        function GetLeaderPhone(originatorname){
            $.ajax({
                url:"/Users/GetLeaderPhone",
                data:{"UserRealName" : originatorname},
                dataType:'json',
                method: 'POST',
                success:function(json){
                    $("#originatorname").append("(Phone: " + json.phone + " )");
                    $("#originatorname").attr('onclick', 'GoPerson("'+ json.userid.toUpperCase() +'")');
                    $("#AddFollow").attr('onclick', 'AddFollow("'+ json.userid.toUpperCase() +'")');
                    $("#DeleteFollow").attr('onclick', 'DeleteFollow("'+ json.userid.toUpperCase() +'")');
                    if(json.followState == "yes"){
                        $("#AddFollow").hide();
                    }else if(json.followState == "no"){
                        $("#DeleteFollow").hide();
                    }else if(json.followState == "sameUser"){
                        $("#AddFollow").hide();
                        $("#DeleteFollow").hide();
                        $("#originatorname").attr('onclick', '');
                        $("#originatorname").attr('href', '../Users/GoPerson');
                    }
                },
                error:function(){
                    alert("连接服务器失败");
                }
            })
        }

        function GoPerson(userId){
            window.location.href = "../Users/GoOtherPerson?UserId=" + userId;
        }

        function AddFollow(userId){
            $.ajax({
                url:'/Users/AddFollow',
                data:{"UserId": userId},
                method:'POST',
                dataType:'text',
                error:function(){
                    alert("无法连接服务器");
                },
                success:function(data){
                    if(data == "Success"){
                        $("#DeleteFollow").show();
                        $("#AddFollow").hide();
                    }
                }
            })
        }

        function DeleteFollow(userId){
            $.ajax({
                url:'/Users/DeleteFollow',
                data:{"UserId": userId},
                method:'POST',
                dataType:'text',
                error:function(){
                    alert("无法连接服务器");
                },
                success:function(data){
                    if(data == "Success"){
                        $("#AddFollow").show();
                        $("#DeleteFollow").hide();
                    }
                }
            })
        }

        function showActDes(json, data){
            $("#ActName").html(json.actname);
            $("#destination").html(json.destination);
            $("#departplace").html(json.departplace);
            $("#actdays").html(json.actdays + " 天");
            $("#actspend").html(json.actspend + " ￥");
            $("#starttime").html(timestampToTime(json.starttime));
            $("#originatorname").html(json.originatorname);
            GetLeaderPhone(json.originatorname);
            $("#expectplayer").html(json.expectplayer + "  人");
            $("#enlistplayer").html(json.enlistplayer + "  人");

            if(data == "LoginSuccess"){
                if($.cookie("realName") == json.originatorname){
                    $("#Enlist").hide();
                    $("#Login").hide();
                }else{
                    $("#IsAdmin").html("普通用户");
                    $("#ChangeActDetail").hide();
                    $("#ReportActState").hide();
                    $("#ExportActUser").hide();
                    $("#Login").hide();
                    // 判断用户是否已参加
                    $.get("/Activity/CheckIsEnlist?ActId=" + json.activityid, function(IsEnlist){
                        if(IsEnlist == "yes"){
                            $("#CheckEnlist").val("点击取消参加")
                            $("#CheckEnlist").attr("onclick", "CancelEnlist()");
                        }
                    });
                }
            }else{
                $("#IsAdmin").html("游客");
                $("#ChangeActDetail").hide();
                $("#ReportActState").hide();
                $("#ExportActUser").hide();
                $("#Enlist").hide();
            }
        }

        function showImg(){
            $.getJSON("/Images/GetActImg", function(imgs){
                $.each(imgs, function (index, obj) {
                    $("#Img").append('<img class="testImg" src="../images/'+ obj.imagename +'" alt="">');
                })
            })
        }

        function showDes(){
            $.getJSON("/Article/GetAllDes",function(Des){
                $("#Description").html(Des.actdescription);
                $("#TripDes").html(Des.acttripdes);
                $("#OutfitDes").html(Des.actoutfitdes);
                $("#NoticeDes").html(Des.actnoticedes);
            })
        }


        $(window).load(function(){
			//取得cookie里的值，如果为空则不操作；若有值，则隐藏登录框
			var userName = $.cookie('userName');
			var userPassword = $.cookie('userPassword');
            var checkLogin1 = "init";
			if(userName != null && userPassword != null){
				$.ajax({
					url:'/Users/CheckLogin',
					data:{"Name":userName,"Password":userPassword},
					method:'POST',
					dataType:'text',
					error:function(){
						alert("无法连接服务器");
					},
					success:function(data){
						if(data == "LoginSuccess"){
							$('#UserName').attr('href','../Users/GoPerson');
							$("#UserName").text($.cookie('userName'));
                            checkLogin1 = data;
						}else{
                            $("#logout").hide();
                        }
					}
				});
			}
            $.getJSON("/Activity/GetShowActDes", function (json) {
                ActId = json.activityid;
                ActSpend = json.actspend;
                ActName = json.actname;
                showActDes(json, checkLogin1);
                showImg();
                showDes();
                console.log("success!!");
            })
        });

        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="../js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>